.container.tcdi.footer {
  margin-top: 100px;
  background-color: #5089a6;
  line-height: 16px !important;

  .column {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  .header {
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 1rem 0;
    a{
      color: #ffffff;
      &:hover {
        color: #f0f0f0;
      }
    }
  }

  .tcdi.secondary-menu.container {
    background-color: #175372;
    text-align: center;
  }
}
