.container.tcdi.footer {
  margin-top: 100px;
  background-color: #5089a6;
  line-height: 16px !important;

  .header {
    padding: 1rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    color: white;
    padding: 1rem;
  }

  .tcdi.secondary-menu.container {

    background-color: #175372;
  }
}