node_modules
dist
/ui/node_modules/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentytwentyone/
/data/
/wp-front/node_modules/
/wp-react/dist/
/example/node_modules/
/wp-content/plugins/dg-react-components/charts/node_modules/
