
# Ignore development specific files and directories.
*~
*--ignore
*--ignore.*
/.buildpath
/.idea
/.project
/.settings

# Ignore archives and database dumps.
/*.7z
/*.gz
/*.sql
/*.tgz

# Ignore other things.
.DS_Store
__MACOSX
