@import "../../scss/vars";

.search-widget {
  @include module-container($module-bg);

  .list-header {
    overflow: hidden;
    margin-bottom: 15px;
  }

  h3 {
    @include module-title;
    float: left;
    margin-bottom: 0;
  }

  .ui.button {
    @include primary-button;
    width: $extend;

    &.text-button {
      @include text-button;
      margin-top: $base-unit + 5;
      text-align: left;
    }
  }

  .ui.form {
    input[type=password],
    input[type=text] {
      background-color: $input-bg;
      font-size: $module-font-size + 1;
      padding: $base-unit-sm + 2 $base-unit-sm $base-unit $base-unit;

      &::placeholder {
        font-size: $module-font-size;
        font-weight: 200;
        color: grey;
      }
    }
    .selection {
      width: 100%!important;
      font-size: 10px;
    }

    .field {
      margin: 0 0 0.8em;
      &.field input:-webkit-autofill {
        background-color: $input-bg !important;
        border-color: darken($separator-grey, 5%) !important;
        box-shadow: 0 0 0 $base-unit-xlg $input-bg inset !important;

        &::placeholder {
          font-size: $module-font-size + 1;
          font-weight: 800;
        }
      }

      > label {
        font-size: $menu-font-size - 2;
        color: $menu-text-color;
      }
    }
  }
}

// search results page
.wp-block-column.search-results-content{
  display: flex;
  flex-direction: column;
  .ui.fluid.container.body{
    min-height: $base-unit-xlg * 15;
    @media (max-width: 1024px) {
      min-height: $base-unit-xlg * 22;
    }
  }
  .ui.multiple.search.dropdown>input.search{
    margin-left: $base-unit-sm + 2;
    margin-top: -3px;
  }
  .ui.form .field>.selection.dropdown{
    border:1px solid $menu-border !important;
    height: $base-unit-lg - 10;
    .ui.label{
      background: $header-bg;
      box-shadow: none;
    }
    .text{
      color: $body-text-color;
      font-size: $menu-font-size - 4;
      line-height: 170%;
    }
  }
  .ui.selection.dropdown .menu{
    box-shadow: none;
    border:1px solid $menu-border;
    margin-top: -$base-unit-md;
    >.item{
      padding: $base-unit-sm - 3 0 !important;
      .text{
        font-size: $module-font-size;
      }
    }
  }
  .ui.pagination.menu{
    border: none;
    box-shadow: none;
    display:flex;
    font-size: $module-font-size;
    justify-content: center;
    margin: $base-unit-md 0 $base-unit-md + 15 0;
    .item{
      &:before{
        background-color: $header-bg;
      }
    }
  }
  .results-value{
    color: $body-text-color;
    font-size:$menu-font-size;
    margin-top: $base-unit-lg;
    padding: $base-unit-md 0;
  }
}
