$font-family: 'Roboto', sans-serif;
$font-family-secondary:'Raleway', sans-serif;

$header-bg: #ffffff;
$module-bg: #fafbfc;
$menu-border: #dfe2e5;
$menu-text-color: #7f8fa4;
$login-blue: #2da0f8;

$body-text-color: #354052;


$blue: #3e53a6;
$light-blue: #5089a6;
$dark-gray: #5c5d63;
$gray: #66676d;
$light-gray: #dadada;
$separator-grey: #ececec;
$red: #ba5555;

$blue: #3e53a6;
$green: #5baf95;

$health-color: #5baf95;
$light-green: #31ba1a;

$charts-options-height: 66px;
$charts-options-font-size: 1.02rem;

// Spacing Units
$base-unit: 10px;
$base-unit-md: 20px;
$base-unit-lg: 30px;
$base-unit-xlg: 100px;

$extend: 100%;

// Font sizes
$menu-font-size: 15px;
$chart-font-size: 18px;
$module-font-size: 13px;

$module-letter-spacing: 0.04em;

// Mixing and helpers
@mixin gray-raleway-font {
  font-size: $charts-options-font-size;
  color: $gray;
  font-weight: 600;
  font-family: "Raleway";
}
@mixin menu-icon{
  background-repeat: no-repeat;
  background-size: $base-unit + 5 $base-unit + 5;
  background-position: 0 1px;
  padding-left: $base-unit-md;
}

// side modules mixing
@mixin module-container($bg-color){
  background-color: $bg-color;
  border: 1px solid $menu-border;
  padding: $base-unit * 2;
  width: $extend;
}
@mixin module-title{
  font-family: $font-family-secondary;
  font-size: $chart-font-size !important;
  color: $body-text-color;
  font-weight: 500;
}
@mixin module-description{
  font-family: $font-family-secondary;
  font-size: $module-font-size;
  letter-spacing: $module-letter-spacing;
  line-height: 150%;
}
