@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import 'vars';

html {
  height: 100%;
  font-size: 18px !important;
}

body {

  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: transparent !important;
  font-size: 18px !important;
}


iframe {
  margin: 0px;
  padding: 0px;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ui {
  font-family: 'Roboto', sans-serif !important;
}

.ui.container.narrow {
  max-width: 1080px;
}

.ui.container.fluid.desktop {
  max-width: 1366px !important;
}


.ui.primary.button {
  background-color: $light-blue !important;

}

.ui.secondary.button {
  background-color: $green !important;

}

@import "theme/index";