.entry-content {
  margin: 0;
  display: block;

  .date {
    font-size: 14px;
    color: $gray;
    text-align: right;
  }

  .title {

    padding: 0px;
    color: $green;
    font-size: 2.5rem;

  }
}

.wp-block-columns {
  display: flex !important;
}

.wp-block-image img {
  height: -webkit-fill-available;
  height: auto;
}

.aligncenter {
  clear: both;
  text-align: center;
}



figure {
  padding: 0;
  margin: 0;
}

.tight {
  margin: 3px 0 0 0 !important;
}

.padded {
  padding: 1em;

  &.padded-sm {
    padding: 2em;
  }

  &.padded-md {
    padding: 3em;
  }
}

.light {
  font-weight: 100;
}

ul.wp.post.list {
  list-style-type: circle;

  li.entry-content {
    display: list-item !important;
    padding: 10px;

    div, a {
      margin: 5px;
    }

    .date {
      color: #363636;
    }

    .title {
      font-weight: bold;
    }

    .link {
      text-align: right;
    }
  }
}

.wp-block-image.bordered img {
  border: 2px solid $separator-grey;
}

.wp-block-columns {
  .cost-gender-label {
    line-height: 90%;
    margin-left: -$base-unit * 4;
  }
}

.wp-block-columns.contracted {
  background-color: #1b8866;
  padding: 0px;

  .wp-block-column {
    margin: 0px;
  }
}

.form-block-half {
  padding: 3em;

  p {
    &.has-big-font-size {
      margin-bottom: 0.3em;
    }
  }
}

.wp-block-separator {
  border: 1px solid $light-gray;
  width: 100% !important;;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;

}

p + .wp-block-separator {
  margin-top: -20px;
}


p:empty {
  display: none;
}

.wp-block-buttons {
  .wp-block-button__link {
    font-size: 16px !important;
  }
}

.wp-block-group.compacted {
  .wp-block-columns {
    margin-bottom: 10px;
    margin: 0px;
    padding: 0px !important;

    * {

    }

    .wp-block-column:not(:first-child) {
      margin-left: 3px;
    }
  }
}

.wp-block-group {
  p {
    margin-bottom: .1rem;
    margin-top: .1rem;
    padding: 0;
  }
}

.ui {
  &.input {
    > input {
      &::placeholder,
      &::-webkit-input-placeholder{
        font-family: $font-family;
        font-size: 0.8em;
      }
    }
    &.error{
      > input{
        &::placeholder,
        &::-webkit-input-placeholder{
          color: #9f3a38;
          font-family: $font-family;
        }
      }
    }
  }
}



.ui.default.dropdown:not(.button)>.text,
.ui.dropdown:not(.button)>.default.text{
  font-family: $font-family;
  font-size: 0.9em;
  top: -3px;
}
