.top-pie {
  margin: 0 !important;
  background-color: #FFFFFF;

  .row {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 12px;
    font-weight: bold;
  }

  .inner {
    width: 100%;
  }
}