.featured.tabs {
  display: flex;

  .grid.desktop {
    flex-basis: 100%;
    padding: 0;
    margin: 0;

    .cover {
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat !important;
      height: 100%;
      border: 1px solid #b8ccd8;
      border-top: 0;
      margin-top: 0 !important;
      padding: 10%;
      text-align: center;
      justify-content: flex-end;

      .entry-content, .excerpt {
        display: flex;
        flex-direction: column;
        height: 100%;

        blco
        p {
          margin-bottom: 0;
        }
      }

      .label {
        cursor: pointer;

        .icon {
          margin-right: 4%;
        }

        font-size: 16px;
        font-weight: 400;
        margin: auto;
        margin-top: auto;
        margin-bottom: 5%;
        width: 60%;
        border: 1px solid #FFF;
        color: #FFF;
        background-color: transparent !important;


      }

      p {
        color: #FFF;
      }
    }

    .column {
      color: #FFF;
      padding: 0 !important;
      margin: 0 !important;
    }

    .column.expanded {
      padding: 0px;
      border: 1px solid $light-gray;

      .segment {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 10px;
        height: 70px;
        border: 0px;
        border-radius: 0px;

        img {
          margin-left: 2%;
          height: 40px !important;

        }

        .title {
          font-size: inherit;
          color: #FFF;
          padding-top: 0;
        }

        h2 {
          font-weight: 300;
          padding: 10px;
          margin: 0px;
        }


      }

      .entry-content {
        color: #000;
        margin: 0px;
        padding: 4%;

      }

      .label {
        display: inline;
        position: relative;
        margin-bottom: 1% !important;
        margin-top: auto !important;
        cursor: pointer;
        float: right;
        width: 120px;
        color: #FFF;
        background-color: $green;
        margin-right: 1% !important;
        left: auto !important;
        top: auto !important;
        bottom: 10px;
        right: 10px;

        .icon {
          background-color: $green;
          position: relative !important;
          left: auto !important;
          top: auto !important;
          bottom: auto !important;;
          right: auto !important;
          padding: 0px;
          margin-right: 10%;

        }


      }

      .full-link {
        margin-top: 5vmin;
        width: 80%;
        padding: 2vmin;
        border-bottom: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
      }
    }


  }


}
