.featured.tabs {
  .grid.desktop {
    padding: 0;
    margin: 0;
    border: 1px solid #aeaeae;

    .cover {
      display: flex;
      flex-direction: column;
      background-size: cover;
      background-repeat: no-repeat !important;
      height: 100%;
      border: 1px solid #b8ccd8;
      border-top: 0;
      margin-top: 0 !important;
      padding: 2vw;
      text-align: center;
      justify-content: flex-end;
      .title{
        font-size: 2.5rem;
      }
      .entry-content, .excerpt {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 10%;

        p{
          min-height: 30vh;
          margin-bottom: 0;
        }
      }

      .label {
        cursor: pointer;
        line-height: 3vh;

        .icon {
          margin-right: 4%;
        }
        font-size: 1.5vmin;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        min-height: 5vh;
        border: 1px solid #FFF;
        color: #FFF;
        background-color: transparent!important;
        margin-top: auto;
        margin-bottom: 50px;
      }

      p {
        color: #FFF;
      }
    }

    .column {
      color: #FFF;
      padding: 0 !important;
      margin: 0 !important;
    }

    .column.expanded {
      .entry-content {
        padding: 2vw;
        color: #000;
      }

      .full-link {
        margin-top: 5vmin;
        width: 80%;
        padding: 2vmin;
        border-bottom: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
      }
    }

    .column.active {
      border: 0 !important;

      .cover {
        border: 0 !important;
      }
    }

    .column {
      min-height: 70vh;
    }
  }

  .grid.mobile {
    padding: 0;
    margin: 0;

    .row {
      padding: 0;
      margin: 0;
    }

    .column {
      padding: 0;
      margin: 0;
    }

    .excerpt {
      .wp-block-image {
        padding: 10vh;
        display: none;
      }

      .entry-content {
        padding: 0;
        margin: 0;
      }
    }
  }
}