@import '../vars';

.green {

  .left.navigator {
    z-index: 100;
    top: 200px;
    position: fixed;

    .ui.menu {
      background-color: $health-color;
      margin: 0;
      padding: 0;
      width:4vw;
      min-width: 70px;
      max-width: 120px;
      display: flex;

      .header {
        font-size: 1.4vmin;
        align-content: center;
        text-align: center;
        text-transform: uppercase;
      }

      .item {
        border-bottom: 1px solid #FFF;
        padding: 8%;
        box-sizing: border-box;
        text-align: center;

        .label {
          padding: 2%;
          font-size: .7rem;
          margin: auto;
          background: none;
          text-transform: uppercase;
          width: 100%;
          border: 0;
        }

        img {
          height: auto;
          width: 80%;
          cursor: pointer;
          margin: auto;
        }

        color: #FFF !important;
      }

      .item.active {

        border: 1px solid $light-blue;
        background-color: $light-blue;
      }
    }
  }

  @media screen and (max-width: 1300px) {

    .left.navigator {
      .ui.menu {
        background-color: $health-color;
        margin: 0;
        padding: 0;
        width: 5vw;
        min-width: 65px;
        max-width: 100px;
        display: flex;
      }

      .label {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .left.navigator {


      display: none;

      .label {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .left.navigator {
      display: none;

      .label {
        display: none;
      }
    }
  }
}
