@import '../vars';


.tcdi.dashboard {
  display: block;
  margin-bottom: 100px;

}

.green {
  .container.section {
    margin-left: 0vw !important;
  }



  .left.navigator {
    z-index: 100;
    top: 200px;
    position: fixed;
    margin-left: -7vw;
    margin-bottom: 100px;

    .ui.menu {
      background-color: $health-color;
      margin: 0;
      padding: 0;
      width:4vw;
      min-width: 90px;
      max-width: 120px;
      display: flex;

      .header {
        font-size: 1.4vmin;
        align-content: center;
        text-align: center;
        text-transform: uppercase;
      }

      .item {
        border-bottom: 1px solid #FFF;
        padding: 10%;
        box-sizing: border-box;
        text-align: center;

        .label {
          padding: 5%;
          font-size: .7rem;
          margin: auto;
          background: none;
          text-transform: uppercase;
          width: 100%;
          border: 0;
          line-height: 120%;
          font-weight: 400;
        }

        img {
          height: auto;
          width: 75%;
          cursor: pointer;
          margin: auto;
        }

        color: #FFF !important;
      }

      .item.active {

        border: 1px solid $light-blue;
        background-color: $light-blue;
      }
    }
  }

  @media screen and (max-width: 1300px) {

    .left.navigator {
      .ui.menu {
        background-color: $health-color;
        margin: 0;
        padding: 0;
        width: 5vw;
        min-width: 65px;
        max-width: 100px;
        display: flex;
      }

      .label {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .left.navigator {


      display: none;

      .label {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .left.navigator {
      display: none;

      .label {
        display: none;
      }
    }
  }
}
