.myths.list {
  display: flex;
  flex-direction: column;

  .header {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;

    h2 {
      margin: 0;
    }

    img {
      margin-right: 10px;
      width: 37px;
      height: 39px;
    }
  }

  .title {
    margin-left: 3.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    .entry-content {
      flex: 1;
      padding: 0;
      margin: 0;

      p {
        margin-left: -($base-unit * 4);
        text-indent: $base-unit * 4.5;
      }
    }

    .ui.label {
      width: 100px;
      border-radius: 0;
      margin: 7px 0 0;
      font-weight: 800;
      color: $red;
      font-size: 0.9em;
      padding: 0px 0.2em 0px 0px;
      border: 0;

      img {
        margin: -3px 7px;
        width: auto !important;
        height: auto !important;
      }
    }
  }

  > .content {
    display: flex !important;
    margin-bottom: $base-unit * 1.5;
    margin-left: 3.2em;
    flex-direction: row;
    border-bottom: 2px solid $separator-grey !important;
    font-weight: 100;
    color: $health-color;
    padding-bottom: $base-unit * 2 !important;

    p {
      font-size: 1.3em;
      font-weight: 400;
      line-height: 140%;
      margin-top: 0;
      margin-left: -($base-unit * 6.3);
      padding-bottom: $base-unit * 1.7;
      padding-top: 0;
      text-indent: 0;
    }

    .label {
      justify-content: center;
      color: $health-color;
      align-items: center;
      font-size: 1.2em;
      font-weight: 800 !important;
      border: 0;
      padding: $base-unit - 6 $base-unit 0 0;
      height: $base-unit * 2;

      img {
        margin: -5px 1px auto 3px;
        width: auto !important;
        height: auto !important;
      }

    }

    .entry-content {
      flex: 1;
      padding: 0;
      margin: 0;

      > p {
        padding: 0;
        margin: 0;
      }
    }
  }

  > .title.odd {
    margin-top: 10px;
  }

  > .content.odd {
    .label {
    }
  }
}
