
.tcdi.tabbed.posts.container {

  min-height: 500px;
  padding: 0px 20px;

  .ui.container.entry-content {
    margin: 0px;
    padding: 20px 0px;
  }

  .label {
    font-weight: 400;
    margin: 0px;
    font-size: 18px;
  }

  .icon {

  }
}

.ui.grid.tabbed.posts {
  background-color: transparent !important;

  .row {
    padding: 0;
    margin: 0;
  }

  .column {
    margin: 0;
    padding: .2vw;

    button {
      height: 60px;
      border-radius: 5px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      color: #FFF !important;
      text-align: left;

      .label {
        color: #FFF;
        background-color: transparent !important;

      }
    }


  }

  .column.has-icon {
    button {
      text-align: left;

      .icon {
        border: 0px;
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: auto;
        float: left;
        height: 40px;

        width: auto;
        margin-left: 10px;
        margin-right: 0px;
      }


    }
  }

  button:hover {
    color: #FFF;
  }

  .active {
    button {
      color: #FFF;
      background-color: $health-color !important;
    }
  }
}


.ui.menu.tabbed.posts {

  padding: 0px;
  margin: 0px;


  .item {

    margin: 0px;
    padding: 0px;
    color: $gray !important;
    border: 0px;
    font-size: 18px;

    .label {
      background-color: transparent !important;
      color: $gray;
      padding: 0px;

    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  .item.active {

    .label {
      background-color: transparent !important;
      color: $green;
      font-weight: bold;
      padding: 0px;

    }
    color: $green !important;
    font-weight: 700;
    padding-left: $base-unit;

    &:after {
      color: $gray;
      font-weight: normal;
    }
  }

  a.item.active::before {
    content: '';
    background-image: url('/green_arrow_active.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 18px !important;
    height: 20px !important;
    background-color: transparent !important;
    display: block !important;
    position: relative !important;
    margin-left: -18px;
    margin-right: $base-unit - 2;

  }

  .item::after {
    content: '|';
    margin-left: 18px;
    margin-right: 18px
  }


}
