/**
 * @file
 * Contains theme CSS declarations.
 */

html {
  // Always show page scrollbar to prevent side-movement when hovering over
  // items that are extending their height.
  overflow-y: scroll;

  // Set the base font style.
  color: @clnormal;
  font-family: @fstack_default;
}

.main-content {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/**
 * Set the base style for anchor tags.
 */
a {
  .link-color(@clanchor, @clanchor__active, @clanchor__visited, @clanchor__hover);

  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  color: @clanchor;
  font-weight: normal;
}

/**
 * Set the style for a 2 column CSS Media Object, first column is optional.
 */
.mobject {
  position: relative;
  .group-side {
    display: block;
    float: left;
    margin-right: 0.5em;
  }
  .group-main {
    display: table-cell;
    width: 500em;
  }
}
.xSmallOnly() {
  .mobject {
    .group-side {
      float: none;
      margin-right: 0;
      text-align: center;
    }
    .group-main {
      display: block;
      width: auto;
    }
  }
}

.form-mobject {
  display: table;
  .item-main {
    display: table-cell;
    padding-left: 0.5em;
    width: 500em;
  }
}

@import './lib/custom-responsive.less';
@import './lib/helpers.less';
