/**
 * @file
 * Contains layout specific CSS.
 *
 * @TODO: Cleanup and convert to LESS.
 */

@import './lib/custom-grid.less';
@import './lib/helpers.less';

html, body {
  height: 100%;
  position: relative;
}

.page-wrapper {
  .row-wrapper();
  position: relative;
}

.main-header {
  .main-header-inner {
    .row-wrapper();
  }
  .site-name {
    font-size: 1em;
    .column(5);
  }
  .header-items {
    .column(7);
    float: right;
    text-align: right;
  }
}

.main-header,
.main-navigation,
.main-content {
  .single-fluid-column();
}

.layout-right-sidebar {
  .group-left {
    .column(8);
    .first-child-column();
  }
  .group-right {
    .column(4);
    .last-child-column();
  }
}

.layout-block {
  .box-sizing(border-box);
  background-color: @clcontent;
  border: @border_width solid @clcontent__separator;
  padding-left: 1em;
  padding-right: 1em;
  .contentblock-title,
  .pane-title {
    border-bottom: @border_width solid @clcontent__separator;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
}

.layout-separator {
  margin-bottom: 1em;
}

.two-columns-grid {
  .view-content {
    .clearfix-mixin();
  }
  .views-row {
    float: left;
    .box-sizing(border-box);
    width: 50%;
  }
  .views-row-odd {
    clear: left;
    padding-right: 0.5em;
  }
  .views-row-even {
    padding-left: 0.5em;
  }

  .views-first-page {
    .views-row-odd {
      clear: none;
      padding-left: 0.5em;
      padding-right: 0;
    }
    .views-row-even {
      clear: left;
      padding-left: 0;
      padding-right: 0.5em;
    }
    .views-row-1 {
      width: 100%;
      padding-left: 0;
    }
  }
}
