/**
 * @file
 * Contains layout specific CSS.
 *
 * @TODO: Cleanup and convert to LESS.
 */

@import './lib/custom-grid.less';
@import './lib/helpers.less';

html, body {
  height: 100%;
  position: relative;
}

.page-wrapper {
  .row-wrapper();
  position: relative;
}

.main-header {
  .main-header-inner {
    .row-wrapper();
  }
  .site-name {
    font-size: 1em;
    .column(5);
  }
  .header-items {
    .column(7);
    float: right;
    text-align: right;
  }
}

.custom-layout {
  .page-title {
    margin: 0;
  }
  .field {
    margin: 1em 0;
  }
}

.layout-right-sidebar {
  .group-left {
    .column(8);
    .first-column();
  }
  .group-right {
    .column(4);
    .last-column();
  }
}

.layout-block {
  .box-sizing(border-box);
  background-color: @clcontent;
  border: @border_width solid @clcontent__separator;
  padding: 1em;
}
