
@import './lib/helpers.less';
@import './lib/custom-sprite.less';

.header-links {
  margin: 0;
  padding: 0;
  line-height: 3.75em;

  a {
    .link-color(@clpassive);
  }

  li {
    display: inline-block;
  }

  .link-toplevel {
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    &.last {
      padding-right: 0;
    }
    &:active,
    &:hover {
    }
  }
}

.navigation-list-toplevel {
  border-bottom: @border_width solid @clcontent__separator;
  padding-left: 0;
  .top-listitem {
    list-style: none;
  }
}

.main-navigation {
  font-size: 0.875em;

  .top-listitem {
    display: inline-block;
  }

  .top-link {
    display: inline-block;
    font-weight: bold;
    line-height: 2em;
    min-width: 7em;
    padding: 0.6em;
    padding-right: 2em;
    text-decoration: none;
    text-transform: uppercase;

    .link-color(@clpassive, @clcontent, @clpassive, @clcontent);

    &.active,
    &:focus,
    &:hover {
      color: @clcontent;
      svg {
        fill: @clcontent;
      }
    }

    &.active {
      background-color: @clpassive;
    }
    &:focus,
    &:hover {
      background-color: lighten(@clpassive, 10%);
    }

    border-right: @border_width solid transparent;
    &.active {
      border-right: @border_width solid @clcontent__separator;
    }
  }
  svg {
    fill: @clpassive;
    margin-right: 0.5em;
  }

  .navigation-sublevel {
    margin-bottom: 0.5em;
  }
}
