
@import './lib/helpers.less';

.item-list .views-row {
  margin: 0 1em;
}

.mdzr-inlinesvg .entity-action.has-icon .title {
    display: none;
}

.label-inline {
  display: inline;
}

.field {
  margin: 1em 0;
  &.field-name-blog-sidebar,
  &.field-name-field-cbblocks {
    margin: 0;
  }
}

.more-link {
  margin-bottom: 1em;
  text-align: right;
}

.cbreference-linkedmap {
  border: @border_width solid @clcontent__separator;
  margin-bottom: 1em;

  .title-wrapper {
    float: left;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    width: 294px;
    a {
      color: @clactive;
      display: block;
      text-decoration: none;
    }
    svg {
      fill: @clactive;
      margin-right: 0.5em;
    }
  }
  .field-name-field-cbimage {
    margin: 0;
  }

  &.cbreference-view-mode-wide {
    background-color: @clmain__alt;
    .title-wrapper {
      text-align: center;
      font-size: 1.2em;
      line-height: 6em;
    }
  }
  &.cbreference-view-mode-normal {
    background-color: @clcontent;
    .title-wrapper {
      font-size: 1em;
      line-height: 3em;
      svg {
        fill: @clactive;
        margin-left: 0.5em;
      }
    }
  }
}

.homepage-welcome-block {
  background-color: @cldetail;
  color: @clcontent;
  padding: 1em;
  .pane-content {
    .clearfix-mixin();
  }
  .contentblock-title {
    color: @cldetail__alt;
    margin: 0;
  }
  .field-name-field-cbimage {
    float: right;
    margin: 0;
    margin-left: 1em;
  }
}
