* {
  line-height: normal;

}



@import '../vars';
@import './colors';
@import './fonts';
@import './content';
@import './responsive';


h1.type{
  font-size: 1rem;
  padding:0;
  margin: 0px;
  color:$light-blue;

  font-family: Roboto, sans-serif;

}


.wp-block-columns.compacted{
  padding: 2rem;
}