# Ignore configuration files that may contain sensitive information.
/sites/*/settings.custom.php

# Ignore paths that contain user-generated content.
/sites/*/files
/sites/*/private

# Ignore local .htaccess and robots.txt files.
/.htaccess
/robots.txt

# Ignore archives and database dumps.
/*.7z
/*.csv
/*.gz
/*.sql
/*.tar
/*.tgz
/*.zip

# Ignore development specific files.
/sites/all/libraries/FirePHPCore
/sites/default/update_scripts/environment/setup.local.php
/.buildpath
/.idea
/.project
/.settings
/.vagrant
/Docker*
/Vagrant*
